<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="noobcash" src="{{ "/assets/img/chess.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JChess </h3>
    <ul>
      <li> JS </li>
      <li> HTML5 </li>
      <li> CSS </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/vilaras/chess">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="GTOV Statistical Analysis" src="{{ "/assets/img/gtov.png" | prepend: site.baseurl }}" width="500" height="900"/>
  </div>
  <div class="contents-right">
    <h3> GTOV Statistical Analysis </h3>
    <ul>
      <li> Express.js </li>
      <li> React.js </li>
      <li> MaterializeCSS </li>
      <li> MongoDB </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/vilaras/Appathon-NTUA">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="noobcash" src="{{ "/assets/img/noobcash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Noobcash </h3>
    <ul>
      <li> Python </li>
      <li> Flask </li>
      <li> Cryptography </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/vilaras/noobcash">Check it out</a>
  </div>
</div>