<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="noobcash" src="{{ "/assets/img/blockchain.jpg" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Noobcash</h3>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>Cryptography</li>
    </ul>
    <p>
      A custom implementation of a cryptocurrency called noobcash. The system is
      based on a distributed P2P network where every node can perform
      transactions and mining. Security is ensured by a PoW scheme.
    </p>
    <a
      class="project-link"
      target="_blank"
      href="https://github.com/vilaras/noobcash"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="GTOV Statistical Analysis" src="{{ "/assets/img/gtov.png" |
    prepend: site.baseurl }}" width="500" height="900"/>
  </div>
  <div class="contents-right">
    <h3>GTOV Statistical Analysis</h3>
    <ul>
      <li>Express.js</li>
      <li>React.js</li>
      <li>MaterializeCSS</li>
      <li>MongoDB</li>
    </ul>
    <p>
      A statistical analysis project based on the GTOV clinical trials dataset.
      Explores how many of the clinical trials mention the medications used in
      the eligibility criteria and/or the brief summary. Then provides a search
      fature upon this data.
    </p>
    <a
      class="project-link"
      target="_blank"
      href="https://github.com/vilaras/Appathon-NTUA"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="noobcash" src="{{ "/assets/img/chess.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>JChess</h3>
    <ul>
      <li>JS</li>
      <li>HTML5</li>
      <li>CSS</li>
    </ul>
    <p>
      With this project I combined my interest for programming and chess to
      teach myself javascript and do something fun at the same time. It is a
      simple game of chess developed in vanilla javascript. Check out the super
      mode and you will be surprised!
    </p>
    <a
      class="project-link"
      target="_blank"
      href="https://github.com/vilaras/chess"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="grader" src="{{ "/assets/img/grader.png" | prepend: site.baseurl
    }}" width="500" height="900"/>
  </div>
  <div class="contents-right">
    <h3>Grader</h3>
    <ul>
      <li>Bash</li>
    </ul>
    <p>
      A simple automation CLI tool for my Algorithm and Complexity course. Tests
      an executable against a set of testcases and prints the results.
    </p>
    <a
      class="project-link"
      target="_blank"
      href="https://github.com/vilaras/grader"
      >Check it out</a
    >
  </div>
</div>
